# env (global)
.env
.env.local
.env.production
.env.staging
.env.*

# node
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
backend/*firebase-adminsdk*.json

# dumps / export
*.sql
*.dump
*.pdf

# frontend build
frontend/build/

# uploads / generated
backend/uploads/
backend/out.pdf

